#controls
  #image= image_tag('trance.jpg', :size => '75x75')
  #song_info
    %span#title Chubb Sub
    %span#album_artist from Last Chance to Dance Trance (perhaps) by Medeski Martin Wood
    #track_seek
      %input{ :type => 'range', :min => '0', :max => '100' }
  #buttons
    #control
      %ul#music_controls
        %li#previous= image_tag('previous-track.png')
        %li#play= image_tag('play.png')
        %li#stop= image_tag('stop.png')
        %li#next= image_tag('next-track.png')
        %li Outputs
        %li= image_tag('settings.png')

      %ul#volume_control
        %li#volume_icon= image_tag('audio-volume-medium.png')
        %li#volume_seek
          %input{ :type => 'range', :min => '0', :max => '100' }
#navigation
  %ul#nav_menu
    %li Search
    %li Library
    %li Filesystem
    %li.last Playlists
  #artists
    %ul#artist_list
      %lh.artist Artist
      %li.artist All
  #albums
    %table#album_list
      %thead
        %th.album_name Album
        %th.add_album Add
      %tbody
  #tracks
    %table#track_list
      %thead
        %th.track_number #
        %th Title
        %th.add_track Add
#playlist
  %table#playlist_table
    %thead
      %th Track
      %th Title
      %th Artist
      %th Album
      %th Duration
      %th File
    %tbody