!!! 5
%html
  %head
    %title rMPD
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "/jquery-ui-1.8.20.custom.css"
    = javascript_include_tag "application"
    = yield :javascript
    = csrf_meta_tags
  %body
    #container
      = render "flash/messages"
      #content
        = yield
