!!! 5
%html
%head
  %title rMPD
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body.bp
  #loading
    Loading...
  #container{ :class => 'hidden' }
    #nav
    = render "flash/messages"
    = yield
