!!! 5
%html
  %head
    %title rMPD
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "/jplayer.blue.monday.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #loading
      %h1 Loading...
    #container{ :class => 'hidden' }
      #masthead
        %span.title MPDremote
        %span.settings= image_tag('settings.png')
      = render "flash/messages"
      #content
        = yield
